<h1>Fixtures</h1>

<% if @fixtures %>
<pre><% JSON.pretty_generate(@fixtures) %></pre>

<% @fixtures.each do |fixture| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Home Goals</th>
      <th>Away Goals</th>
    </tr>
  </thead>
  <tbody>
    <% @fixtures["response"].each do |fixture| %>
      <tr>
        <td><%= fixture["teams"]["home"]["name"] %></td>
        <td><%= fixture["teams"]["away"]["name"] %></td>
        <td><%= fixture["goals"]["home"] %></td>
        <td><%= fixture["goals"]["away"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


<% else %>
  <p>Failed to fetch data.</p>
<% end %>
