<h1>Team Statistics</h1>

<% if @api_response %>
  <h2><%= @api_response['response']['team']['name']%></h2>
  <img src="<%= @api_response['response']['team']['logo']%>" alt="">
  <pre><%= JSON.pretty_generate(@api_response) %></pre>

<% else %>
  <p>Failed to fetch data.</p>
<% end %>
